html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.flipbook {
  margin: 40px auto; 
  background: transparent;
}

.page {
  width: 650px;   /* match turn.js width */
  height: 450px;  /* match turn.js height */
  position: relative;
  background: transparent;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: transparent;
  display: block;
}
